body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fbeaeb;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #2f3c7e;
  }
  
  .add-task-section {
    background-color: #fbeaeb;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form input[type="text"],
  form input[type="datetime-local"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
form button {
    padding: 10px 20px;
    background-color: #2f3c7e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.4s;
    display: flex;
    align-items: center;
  }
  
  form button i {
    margin-right: 5px; 
  }
  
  form button:hover {
    background-color: #1e2a59;
  }
  
  .delete-button {
    background-color: #d62828;
    margin-right: 10px;
  }
  
  .delete-button:hover {
    background-color: #b21d1d;
  }
  
  .completed-button {
    background-color: #1a936f;
  }
  
  .completed-button:hover {
    background-color: #157158;
  }
  
  .lists {
    display: flex;
    justify-content: space-between;
  }
  
  .lists .pending-tasks,
  .lists .completed-tasks {
    flex: 1;
  }
  
  .tasks-list {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  
  li span {
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  li.pending {
    background-color: #FBEAEB; 
    color: black; 
  }
  
  li.completed {
    background-color: #9ad2c6;
    color: #006400;
  }
  